torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
transformers==4.51.0
datasets==3.6.0
accelerate==1.13.0
peft==0.10.0
trl==0.7.10
gradio==3.50.2
gradio_client==0.6.1
scipy
sentencepiece
sentence-transformers==5.2.3
protobuf
tiktoken
einops
rouge-chinese
nltk
textblob
uvicorn
pydantic
fastapi
deepspeed==0.18.6
transformers_stream_generator
